@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/card2.css");

body {
  font-family: 'Lora', serif;
  font-size: 25px;
  margin: 0px;
  color: black;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}
h2 {
  color: green;
}
h3 {
  color: darkcyan;
}
